<form method="post" action="/home/upload" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-5">
            <input type="file" name="image" placeholder="Select Image" class="form-control" />
        </div>
        <div class="col-md-3 md-offset-3">
            <input type="text" class="form-control" name="password" placeholder="Set password for image" />
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-block">Upload</button>
        </div>
    </div>
</form>
